// Typography
$font-face-base: Arial, sans-serif;

// Base palette
$color-white: #fff;
$color-black: #000;
$color-brand: #f42561;
$color-gray-lighter: #f0f0f0;
$color-gray-lightest: #f5f5f5;

// Semantic colors
$color-text: $color-black;
$color-ruler: $color-gray-lighter;
$color-page: $color-white;
$color-page-alternate: $color-gray-lightest;
$color-link: $color-brand;
$color-hamburger: $color-black;
$color-mobile-nav: rgba($color-white, 0.8);

// Breakpoints
$breakpoint-tablet: 900px;
$breakpoint-mobile: 700px;

// Layers
$z-index-nav-overlay: 10;
$z-index-page-loading-overlay: 20;
